<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
</head>
<body>
    <a href="{{ url_for('index') }}" class="button receitas">Voltar</a>
    <h1>Receitas Recomendadas</h1>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.name }}</li>
            <p>Ingredients:</p>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>
            <p>Instructions:</p>
            <p>{{ recipe.instructions }}</p>
        {% endfor %}
    </ul>
</body>
</html>
