<!-- receitas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
</head>
<body>
    <a href="{{ url_for('index') }}" class="button receitas">Voltar</a>
    <form action="/receitas" method="GET">
        <label for="ingredient">Ingredient:</label>
        <input type="text" id="ingredient" name="ingredient" placeholder="Enter an ingredient">
        <button type="submit">Search</button>
    </form>
    
    <h1>Recommended Recipes</h1>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.name }}</li>
            <p>Ingredients:</p>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <p>Instructions:</p>
            <p>{{ recipe.instructions }}</p>
        {% endfor %}
    </ul>
</body>
</html>
