<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Recipes</h1>
        </header>
        <a href="{{ url_for('index') }}" class="button button-voltar">Voltar</a>

        <h2>Add Recipe</h2>
        <form method="POST" action="{{ url_for('add_recipe') }}">
            <input type="text" name="name" placeholder="Recipe name" required>
            <div class="ingredient-group">
                <h3>Ingredients</h3>
                <div class="ingredient-inputs">
                    <input type="text" name="ingredient_name" placeholder="Ingredient name" required>
                    <input type="text" name="quantity" placeholder="Quantity (e.g., 500 g)" required>
                </div>
            </div>
            <button type="button" id="add-ingredient-button" class="button button-dispensa">Add Another Ingredient</button>
            <button type="submit" class="button button-dispensa">Add Recipe</button>
        </form>

        <h2>Recipes</h2>
        <div class="search-bar">
            <input type="text" id="recipe-search" placeholder="Search for recipes...">
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Ingredients</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="recipe-table">
                    {% for item in recipe_details %}
                    <tr class="{{ 'recipe-unavailable' if item.status == 'insufficient' else 'sufficient' }}">
                        <td>{{ item.recipe.name }}</td>
                        <td>
                            <ul>
                                {% for ingredient in item.ingredients %}
                                {% set pantry_ingredient = ingredients | selectattr('name', 'equalto', ingredient.ingredient_name) | first %}
                                {% if not pantry_ingredient %}
                                <li>
                                    <span class="ingredient-status missing-ingredient">Missing</span> {{ ingredient.quantity }} of {{ ingredient.ingredient_name }}
                                </li>
                                {% elif normalize_quantity(pantry_ingredient.quantity).split()[0] | int < normalize_quantity(ingredient.quantity).split()[0] | int %}
                                <li>
                                    <span class="ingredient-status insufficient">Insufficient</span> {{ ingredient.quantity }} of {{ ingredient.ingredient_name }}
                                </li>
                                {% else %}
                                <li>
                                    <span class="ingredient-status sufficient">Sufficient</span> {{ ingredient.quantity }} of {{ ingredient.ingredient_name }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('cook_recipe', recipe_id=item.recipe.id) }}">
                            <button type="submit"  class="button {{ 'button-disabled' if item.status == 'insufficient' else '' }}" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;" {{ 'disabled' if item.status == 'insufficient' }}>Cook</button></form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('add-ingredient-button').addEventListener('click', function() {
            var ingredientGroup = document.createElement('div');
            ingredientGroup.className = 'ingredient-inputs';
            ingredientGroup.innerHTML = `
                <input type="text" name="ingredient_name" placeholder="Ingredient name" required>
                <input type="text" name="quantity" placeholder="Quantity (e.g., 500g)" required>
            `;
            document.querySelector('.ingredient-group').appendChild(ingredientGroup);
        });

        document.getElementById('recipe-search').addEventListener('input', function() {
            var searchValue = this.value.toLowerCase();
            var recipes = document.querySelectorAll('#recipe-table tr');
            recipes.forEach(function(recipe) {
                var recipeName = recipe.querySelector('td').innerText.toLowerCase();
                if (recipeName.includes(searchValue)) {
                    recipe.style.display = '';
                } else {
                    recipe.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
