  body {
    font-family: Helvetica, sans-serif;
    background-color: #fdebd0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
  }
  

  .button {
    display: block;
    width: 60%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .dispensa {
    background-color: #4CAF50; /* Green */
  }

  .receitas {
    background-color: #f44336; /* Red */
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Auto margins on the sides will center the button */
  
  }

  .for-you {
    background-color: #ffeb3b; /* Yellow */
    color: black; /* Override text color for visibility on yellow */
  }

  .social {
    background-color: #2196F3; /* Blue */
  }